<style>
  .row span {
    display: inline-block;
    padding: 10px;
    border-bottom: 1px solid black;
    line-height: 20px;
  }
  span.first {
    width: 300px;
  }
</style>

<h1>Linked List</h1>

<div>
  <form>
    <div>
      <label for="name">
        Enter Name:
        <input
          id="name"
          type="text"
          ng-model="$ctrl.nodeValue"
          ng-keyup="$ctrl.onKeyup($event)"
        />
      </label>
      <button
        type="button"
        ng-click="$ctrl.add()"
        ng-disabled="!$ctrl.nodeValue"
      >
        Add
      </button>
      <button type="button" ng-click="$ctrl.show()">Print</button>
    </div>
  </form>
</div>

<div>
  <linked-list-node
    ng-repeat="node in $ctrl.nodes"
    node="node"
    nodes="$ctrl.nodes"
  ></linked-list-node>
</div>
